.grid {
  list-style: none;
  margin-left: -20px;
}

.grid__col--1-of-2 {
  width: 50%;
}

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  vertical-align: top;
}

@media (max-width: 700px) {
  .grid__col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}
